html {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px; /*относительный размер шрифта*/
}

body {
  margin: 0;
  padding: 0;
}
nav {
  background: #43494d;
  font-size: 5rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotip {
  color: #fff;
  margin-left: 8rem;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(119deg, #19b4c6, #078aa4);
  color: #fff;
  padding: 17rem 20rem 19rem 11rem;
}
.banner h1 {
  font-size: 5rem;
   margin: 0;
}
.hipi {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 3rem;
  padding-top: 7rem;
}

.hipi span {
  opacity: .3;
}

.hipi a {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-decoration: none;
}
.texting {
  background: #27212c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texting  span:first-child {
  color: #9282a0;
  font-size: 3rem;
  padding-left: 11rem;
}

.texting  span:last-child {
  background: #bc3183;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 5rem;
  width: 25vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

figcaption {
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  color: #fff;
  font-size: 20rem;
}
.fly {
  display: flex;
  flex-direction: column;
}
.fly-item {
  margin: 0;
  width: 100vw;
  height: 87vw;
  background: #5b0fa1;
  display: flex;
}

.comment {
  padding: 11rem;
}

.comment h1 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  color: #088ca5;
}

.comment .text {
  display: flex;
  padding-top: 2.6rem;
  font-size: 3vw;
}

.comment .text .col:last-child {
  display: none;
}

/** light menu **/
#light {
  display: block;
  width: 5rem;
  padding: 5.5rem;
  background: #202529;
}

#light span:after,
#light span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1.3rem;
}
#light span:after{
  top: 1.3rem;
}
#light span {
  position: relative;
  display: block;
}

#light span,
#light span:after,
#light span:before {
  width: 100%;
  height: .7rem;
  background-color: #fff;
  border-radius: 2px;
}

#menu {
  display: none;
}

@media screen and (min-device-width: 980px) {
  .logo,
  #light {
    visibility: hidden;
    display: none;
  }

  #menu {
    display: flex;
    align-content: center;
    width: 100%;
  }

  a {
    margin-left: 3rem;
    text-decoration: none;
    color: #fff;    
    font-size: 2rem;
  }

  .fly {
    flex-direction: row;
  }

  .fly-item {
    width: calc(100vw / 3);
    height: calc(100vw / 3 * 0.87);
    overflow: hidden;
  }

  .fly img {
    width: 100%;
  }

  .comment .text {
    font-size: 1.5vw;
  }

  .comment .text .col:last-child {
    display: block;
    padding-left: 5rem;
  }

}